<div _ngcontent-bvj-c261="" class="row">
    <div _ngcontent-bvj-c261="" class="col-4 resp-select">
        <div _ngcontent-bvj-c261="" class="form-group"><label _ngcontent-bvj-c261="" for="cc-code">Ammount
                CARD</label><input _ngcontent-bvj-c261="" name="amount" [(ngModel)]="p.amount" type="text" id="cc-code"
                class="form-control"></div>
    </div>
</div>

<div _ngcontent-bvj-c261="" class="row">
    <div _ngcontent-bvj-c261="" class="col-4 resp-select">
        <div _ngcontent-bvj-c261="" class="form-group"><label _ngcontent-bvj-c261="" for="cc-code">Currency
                CARD</label><input _ngcontent-bvj-c261="" name="currency" [(ngModel)]="p.currency" type="text"
                id="cc-code" class="form-control"></div>
    </div>
</div>
<a _ngcontent-nuk-c261="" id="first-generate" (click)="payeEnLigne('1')" class="btn btn-success btn-round btn-block btn-lg m-1"><i
        _ngcontent-nuk-c261="" id="btn-loader" class="fa fa-cog"></i><b _ngcontent-nuk-c261="">Payee</b></a>

        <img class="card-img-top" src="assets/img/pypal.png" style="width: 50%;margin-left: 45%; position: relative; top: -230px;">

      