.col-4 {
    width: 100%;
}

.card-footer {
    width: 100%;
}

.z,.form-group {
    color: rgb(23, 71, 216);
    font-family: 'Raleway', sans-serif;
    font-size: 31px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.a {

    position: relative;
    
    left: 550px;
    font-size: 30px;
}
.btn{
    position: relative;
    
    left: 300px;
}