
<div class="card-footer">
    <p class="z">Votre Sold est :</p>
    <output class="a" name="solde">{{sold}}</output>
</div>
<div class="card-footer">
<div class="row">
    <div class="col-4 resp-select">
        <div class="form-group"><label for="cc-code">CODE CREDIT CARD</label><input type="text" class="form-control" id="cc-code">
          </div>
    </div>
</div>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-w100"><a class="btn btn-success btn-round btn-block btn-lg m-1"
                id="first-generate" (click)="addsold()" ><i class="fa fa-cog" id="btn-loader"></i> <b>ADD SOLD</b></a> </div>
        <div class="col-2"></div>
    </div>
</div>

