<div class="body" style="background-image: url('../../../assets/img/signin/02.-Egg-Sour.png');">

    <div class="body_content" >
        <div class="body_subcontent">
            <div class="signin_title">                
                Welcome to Crotun!
            </div>
            <div  class="body_panel">                
                <div class="panel-switcher">
                    <button mat-raised-button (click)="switchViewer('brand')" >
                        <div class="brand_img" >
                            <!-- <img src="../../../assets/img/signin/people.png" alt="brand_img"> -->
                            <div class="brand_people" style="background-image: url('../../../assets/img/signin/people.png');"></div>
                        </div>
                        <div class="title" >
                            I'm a Customer
                        </div>
                        <div class="content">

                        </div>
                        <!--  -->
                    </button>
                    <button mat-raised-button (click)="switchViewer('influencer')">
                        <div class="audio_img" >
                            <!-- <img src="../../../assets/img/signin/audio.png" alt="audio_img"> -->
                            <div class="influencer_audio" style="background-image: url('../../../assets/img/signin/audio.png');"></div>
                        </div>
                        <div class="title">
                            I'm an Agent
                        </div>
                        <div class="content">

                        </div>
                    </button>

                    <button mat-raised-button (click)="switchViewer('investor')" >
                        <div class="brand_img" >
                            <!-- <img src="../../../assets/img/signin/people.png" alt="brand_img"> -->
                            <div class="brand_people" style="background-image: url('../../../assets/img/signin/people.png');"></div>
                        </div>
                        <div class="title" >
                            I'm a Investor
                        </div>
                        <div class="content">

                        </div>
                        <!--  -->
                    </button>
                </div>
       
            </div>
        </div>
    </div>
</div>
